# System files
*/.DS_STORE

# Cluster files
clusterpools/*/
clusterclaims/*/
cluterclaims/authfile
!clusterpools/templates/
!clusterclaims/templates/

# Credential files
*/pull-secret.txt
*/pull-secret.*

