apiVersion: hive.openshift.io/v1
kind: ClusterClaim
metadata:
  name: __CLUSTERCLAIM_NAME__
  namespace: __TARGET_NAMESPACE__
spec:
  clusterPoolName: __CLUSTERPOOL_NAME__
  lifetime: __CLUSTERCLAIM_LIFETIME__