apiVersion: hive.openshift.io/v1
kind: ClusterPool
metadata:
  name: __CLUSTERPOOL_NAME__
  namespace: __CLUSTERPOOL_TARGET_NAMESPACE__
spec:
  baseDomain: __CLUSTERPOOL_GCP_BASE_DOMAIN__
  imageSetRef:
    name: __CLUSTERIMAGESET_NAME__
  size: __CLUSTERPOOL_SIZE__
  pullSecretRef:
    name: __OCP_PULL_SECRET__
  platform:
    gcp:
      credentialsSecretRef:
        name: __CLOUD_CREDENTIAL_SECRET__
      region: __CLUSTERPOOL_GCP_REGION__